server/.idea/workspace.xml
server/.idea/tasks.xml
server/.idea/dataSources.local.xml
server/.idea/dataSources.local.ids
server/.idea/dataSources.xml


out

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
