
body {
    background: url(/assets/images/wall.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-centered {
    float: none;
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
}

.profile_grid {
    background-color: #F44336;
    border-radius: 5px;
    height: 129px;
}

.profile_grid:hover {
    background-color: #D32F2F;
}

p.profile_grid_main_title {
    color: white;
    text-align: center;
    font-size: 54px;
    word-wrap: break-word;
}

p.profile_grid_sub_title {
    color: white;
    text-align: center;
    font-size: 19px;
}

table tr, th {
    text-align: center;
}

table#tContacts tr td {
    vertical-align: middle;
}

span.phone_number {
    position: relative;
    top: 3px;
}

td.clickable_data {
    cursor: pointer;
}

ul#nav_menu {
    margin-top: 22px;
}

ul#main_menu {
    margin-top: 4px;
}

.change-form-wrapper.col-md-4 {
    height: 274px;
}

p.change-settings-result {
    position: absolute;
    bottom: 36px;
}

.change-form-wrapper-plus p.change-settings-result {
    bottom: 56px;
}

.change-form-wrapper.col-md-12 {
    height: 200px;
}

.inactive {
    background-color: #222222;
}