<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Signup-->
    <servlet>
        <servlet-name>ClientSignUp</servlet-name>
        <jsp-file>/WEB-INF/client_panel/signup.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientSignUp</servlet-name>
        <url-pattern>/client/signup</url-pattern>
    </servlet-mapping>


    <!-- Signin-->
    <servlet>
        <servlet-name>ClientSignIn</servlet-name>
        <jsp-file>/WEB-INF/client_panel/signin.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientSignIn</servlet-name>
        <url-pattern>/client/signin</url-pattern>
    </servlet-mapping>


    <!-- Client panel-->
    <servlet>
        <servlet-name>ClientPanel</servlet-name>
        <jsp-file>/WEB-INF/client_panel/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientPanel</servlet-name>
        <url-pattern>/client/panel</url-pattern>
    </servlet-mapping>

    <!-- Victim profile-->
    <servlet>
        <servlet-name>VictimProfile</servlet-name>
        <jsp-file>/WEB-INF/client_panel/victim/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>VictimProfile</servlet-name>
        <url-pattern>/client/victim/profile/*</url-pattern>
    </servlet-mapping>

    <!-- Victim contacts-->
    <servlet>
        <servlet-name>VictimContacts</servlet-name>
        <jsp-file>/WEB-INF/client_panel/victim/contacts.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>VictimContacts</servlet-name>
        <url-pattern>/client/victim/contacts/*</url-pattern>
    </servlet-mapping>

    <!-- Deliveries-->
    <servlet>
        <servlet-name>VictimDeliveries</servlet-name>
        <jsp-file>/WEB-INF/client_panel/victim/deliveries.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>VictimDeliveries</servlet-name>
        <url-pattern>/client/victim/deliveries/*</url-pattern>
    </servlet-mapping>

    <!-- Client settings-->
    <servlet>
        <servlet-name>ClientSettings</servlet-name>
        <jsp-file>/WEB-INF/client_panel/settings.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientSettings</servlet-name>
        <url-pattern>/client/settings</url-pattern>
    </servlet-mapping>

    <!-- Client settings-->
    <servlet>
        <servlet-name>ClientSignout</servlet-name>
        <jsp-file>/WEB-INF/client_panel/signout.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientSignout</servlet-name>
        <url-pattern>/client/signout</url-pattern>
    </servlet-mapping>

    <!-- Command center-->
    <servlet>
        <servlet-name>VictimCommandCenter</servlet-name>
        <jsp-file>/WEB-INF/client_panel/victim/command_center.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>VictimCommandCenter</servlet-name>
        <url-pattern>/client/victim/command_center/*</url-pattern>
    </servlet-mapping>


</web-app>